.aside {
  width: 400px;
  padding: 0 0 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 13px 20px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatList {
  display: grid;
  align-content: start;
  gap: 8px;
  flex: 1;
  overflow-y: auto;
  list-style: none;
}

.footer {
  padding: 0 20px;
}
